@import "tailwindcss";
p {
    @apply mb-4 hyphens-auto text-2xl lg:text-3xl leading-relaxed text-stone-700 text-justify;
}

h1 {
    @apply text-4xl lg:text-6xl font-bold mb-6 leading-tight;
}

h2 {
    @apply text-3xl lg:text-5xl font-bold mb-4 leading-snug;
}

h3 {
    @apply text-2xl lg:text-4xl font-bold mb-3 leading-snug;
}

h4 {
    @apply text-xl lg:text-3xl font-semibold mb-2;
}

h5 {
    @apply text-lg lg:text-2xl font-semibold mb-2;
}

h5 {
    @apply text-lg lg:text-xl font-semibold mb-2;
}
